.ghpb-well-outline {
  background-color: #fff; 
}

.ghpb-well-navlist {
  padding: 8px 0;
}


.ghpb-well-outline blockquote {
  border-color: #ddd;
  border-color:rgba(0,0,0,0.15)
}

.ghpb-well-navlist blockquote {
  border-color: #ddd;
  border-color:rgba(0,0,0,0.15)
}

.ghpb-nav-header {
  color: #999999;
}

.ghpb-post p {
  font-size: larger;
}

.ghpb-post a {
	color: #666;
}

.ghpb-post a:hover {
	color: #09d;
	text-decoration: none;
}

.ghpb-nav-list a {
	color: #666;
}

.ghpb-nav-list a:hover {
	color: #09d;
	text-decoration: none;
}