{% if site.tags.size > 0 %}
	{% assign javascript_tag_html = null %}
	{% capture javascript_tag_html %}
		<script type="text/javascript">
			var posts = [
				{% for javascript_post in site.posts %}
					{% if forloop.first %}
						{
					{% else %}
						, {
					{% endif %}
							"title" : "{{ javascript_post.title | replace: '"', '\"' }}" , 
							"subtitle" : "{{ javascript_post.subtitle | replace: '"', '\"' }}" , 
							"description" : "{{ javascript_post.description | replace: '"', '\"' }}" , 
							"url" : "{{site.url}}{{ javascript_post.url | replace: '"', '\"' }}" , 
							"date" : "{{ javascript_post.date | replace: '"', '\"' }}" , 
							"category" : "{{ javascript_post.category | replace: ' ', '___' | replace: '"', '\"' | downcase }}" , 
							"tags" : 
								[
									{% for javascript_post_tag in javascript_post.tags %}
										{% if forloop.first %}
											"{{ javascript_post_tag | replace: ' ', '___' | replace: '"', '\"' | downcase }}"
										{% else %}
											, "{{ javascript_post_tag | replace: ' ', '___' | replace: '"', '\"' | downcase }}"
										{% endif %}
									{% endfor %}
								]
						}
				{% endfor %}
			];

			var create_post_div = function(post) {
				var post_div = '<div class="ghpb-post"><div class="well ghpb-well-outline">';
				post_div = post_div + '<h2><a href="' + post.url + '">' + post.title + '</a></h2>';

				if (post.subtitle !== null) {
					post_div = post_div + '<p>' + post.subtitle + '</p>'
				}

				if (post.category !== null) {
					{% if site.font_awesome.enabled %}
						post_div = post_div + '<i class="icon-folder-open"></i> ';
					{% endif %}
					post_div = post_div + 'Category: ' + post.category.replace('___', ' ');
				}
				
				post_div = post_div + '</div></div>';

				return post_div;
			};

			var requested_tag = null;
			var url_params = $(location).attr('href').match(/\?tag=.+/);
			if (url_params !== null) {
				requested_tag = url_params[0].split('&')[0].split('?tag=')[1];
			};

			if (requested_tag === null) {
				$('div[name="tag_body"]').append('<p>No tag supplied.</p>');
			} else {
				for (var i = 0; i < posts.length; i++) {
					if (posts[i].tags !== null) {
						for (var j = 0; j < posts[i].tags.length; j++) {
							if (posts[i].tags[j] === requested_tag) {
								$('div[name="tag_body"]').append(create_post_div(posts[i]));
								break;
							}
						}
					}
				};
			};
		</script>
	{% endcapture %}
	{{ javascript_tag_html | strip_newlines | remove:'	' }}
{% endif %}