{% assign javascript_tag_page = null %}
{% capture javascript_tag_page %}
	var posts = [
		{% for javascript_post in site.posts %}
			{% if forloop.first %}
				{
			{% else %}
				, {
			{% endif %}
					"title" : "{{ javascript_post.title | replace: '"', '\"' }}" , 
					"subtitle" : "{{ javascript_post.subtitle | replace: '"', '\"' }}" , 
					"description" : "{{ javascript_post.description | replace: '"', '\"' }}" , 
					"url" : "{{site.url}}{{ javascript_post.url | replace: '"', '\"' }}" , 
					"date" : "{{ javascript_post.date | replace: '"', '\"' }}" , 
					"category" : "{{ javascript_post.category | replace: ' ', '___' | replace: '"', '\"' }}" , 
					"tags" : 
						[
							{% for javascript_post_tag in javascript_post.tags %}
								{% if forloop.first %}
									"{{ javascript_post_tag | replace: ' ', '___' | replace: '"', '\"' }}"
								{% else %}
									, "{{ javascript_post_tag | replace: ' ', '___' | replace: '"', '\"' }}"
								{% endif %}
							{% endfor %}
						]
				}
		{% endfor %}
	];
{% endcapture %}

{{ javascript_tag_page | strip_newlines | remove:'	' }}