---
layout: page
title: The Dereck
exclude: true
---

{% for p in site.posts %}
	<div class="well-outline">
		<h2>{{ p.title }}</h2>
		<p>{% if site.font_awesome_css %}<i class="icon-pencil"></i> {% endif %}<small>Published on {{ p.date | date_to_long_string }}.</small></p>
		{% if p.alert %}
			<div class="alert alert-block">
				{{ p.alert }}
			</div>
		{% endif %}
		{% if p.notice %}
			<div class="alert alert-block alert-success">
				{{ p.notice }}
			</div>
		{% endif %}
		{% if p.subtext %}<h3>{{ p.subtext }}</h3>{% endif %}
		{{ p.content }}
		{% if p.tags.size > 0 %}
			<br>
			<p>{% if site.font_awesome_css %}<i class="icon-tags"></i> {% endif %}Tags: {% for t in p.tags %} <span class="label label-inverse">{{ t }} </span>{% endfor %}</p>
		{% endif %}
	</div>
{% endfor %}