---
layout: page
title: The Dereck
exclude: true
---

{% for p in site.posts %}
<div class="ghpb-post">
	<div class="well ghpb-well-outline">
		<h2><a href="{{ p.url }}">{{ p.title }}</a></h2>
		<p>
			{% if p.subtitle %}
			{{ p.subtitle }}
			<br>
			{% endif %}

			<small>
				{% if site.font_awesome.enabled %}
				<i class="icon-pencil"></i> 
				{% endif %}
				Published on {{ p.date | date_to_long_string }}.
			</small>
			<br>

			{% if p.category.size > 0 %}
			<small>
				{% if site.font_awesome.enabled %}
				<i class="icon-folder-open"></i> 
				{% endif %}
				Category: 
				<a href="{{ site.url }}/filter.html?category={{ p.category | replace: ' ', '___' | downcase }}">
					{{ p.category | capitalize }}
				</a>
			</small>
			<br>
			{% endif %}

			{% if p.tags.size > 0 %}
				{% assign index_post_tag_names = null %}
				{% capture index_post_tag_names %}
					{% for index_post_t in p.tags %}
						{{ index_post_t | replace: ' ', '___' }}
					{% endfor %}
				{% endcapture %}

				{% capture index_post_sorted_tag_names %}
					{{ index_post_tag_names | split:' ' | sort | join:' ' }}
				{% endcapture %}

				{% capture index_post_number_of_tags %}
					{{ index_post_sorted_tag_names | number_of_words }}
				{% endcapture %}

				<small>
					{% if site.font_awesome.enabled %}
						<i class="icon-tags"></i> 
					{% endif %}
					Tags: 
					{% assign index_post_first_tag = true %}
					{% assign index_post_prev_tag = '' %}
					{% for index_post_i in (1..index_post_number_of_tags) %}
						{% capture index_post_tag %}{{ index_post_sorted_tag_names | truncatewords:index_post_i | remove:'...' | split:' ' | last | downcase }}{% endcapture %}
						{% if index_post_prev_tag != tag %}
							{% assign index_post_prev_tag = tag %}
							{% if index_post_first_tag %}
								{% assign index_post_first_tag = false %}
							{% else %}
								, 
							{% endif %}
							<a href="{{ site.url }}/filter.html?tag={{ index_post_tag }}">{{ index_post_tag | replace: '___', ' ' }}</a> 
						{% endif %}
					{% endfor %}
				</small>
			{% endif %}
		</p>
		
		{% if p.alert %}
		<div class="alert alert-block">
			{{ p.alert }}
		</div>
		{% endif %}
		
		{% if p.notice %}
		<div class="alert alert-block alert-success">
			{{ p.notice }}
		</div>
		{% endif %}
		
		<br>
		<br>
		{{ p.content }}
		

	</div>
</div>
{% endfor %}