---
layout: page
title: The Dereck
exclude: true
---

{% for p in site.posts %}
<div class="post">
	<div class="well-outline">
		<a href="{{ p.url }}"><h2>{{ p.title }}</h2></a>
		<p>
			{% if p.subtext %}
			{{ p.subtext }}
			{% endif %}
			<br>
			<small>
				{% if site.font_awesome.enabled %}
				<i class="icon-pencil"></i> 
				{% endif %}
				Published on {{ p.date | date_to_long_string }}.
			</small>
		</p>
		
		{% if p.alert %}
		<div class="alert alert-block">
			{{ p.alert }}
		</div>
		{% endif %}
		
		{% if p.notice %}
		<div class="alert alert-block alert-success">
			{{ p.notice }}
		</div>
		{% endif %}
		
		<br>
		<br>
		{{ p.content }}
		
		{% if p.tags.size > 0 %}
			{% capture tag_names %}
				{% for t in p.tags %}
					{{ t | replace: ' ', '___' }}
				{% endfor %}
			{% endcapture %}

			{% capture sorted_tag_names %}
				{{ tag_names | split:' ' | sort | join:' ' }}
			{% endcapture %}

			{% capture number_of_tags %}
				{{ sorted_tag_names | number_of_words }}
			{% endcapture %}

		<br>
		<p>
			{% if site.font_awesome.enabled %}
			<i class="icon-tags"></i> 
			{% endif %}
			Tags:
			{% assign prev_tag = '' %}
			{% for i in (1..number_of_tags) %}
				{% capture tag %}{{ sorted_tag_names | truncatewords:i | remove:'...' | split:' ' | last | downcase }}{% endcapture %}
				{% if prev_tag != tag %}
					{% assign prev_tag = tag %}
			<a href="{{ site.url }}/tag.html?tag={{ tag }}">
				<span class="label label-inverse">{{ tag | replace: '___', ' ' }} </span>
			</a>
				{% endif %}
			{% endfor %}
		</p>
		{% endif %}

	</div>
</div>
{% endfor %}