<div class="well-outline">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<a class="addthis_button_preferred_facebook"></a>
		<a class="addthis_button_preferred_digg"></a>
		<a class="addthis_button_preferred_email"></a>
		<a class="addthis_button_preferred_evernote"></a>
		<a class="addthis_button_preferred_google_plusone"></a>
		<a class="addthis_button_preferred_hackernews"></a>
		<a class="addthis_button_preferred_linkedin"></a>
		<a class="addthis_button_preferred_pinterest"></a>
		<a class="addthis_button_preferred_print"></a>
		<a class="addthis_button_preferred_reddit"></a>
		<a class="addthis_button_preferred_stumbleupon"></a>
		<a class="addthis_button_preferred_tumblr"></a>
		<a class="addthis_button_preferred_twitter"></a>
	</div>
	<!-- AddThis Button END -->
</div>