		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
      				<a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</a>
					<a class="brand" href="#">{{ site.brand }}</a>
					<div class="nav-collapse navbar-responsive-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>