{% if site.bootstrap_responsive_css %}
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
      				<a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</a>
					<a class="brand" href="/">{{ site.brand | upcase }}</a>
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
	{% for p in site.pages %}
		{% unless p.exclude %}
							<li><a href="{{ p.url }}">{{ p.title | upcase }}</a></li>
		{% endunless %}
	{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
{% else %}
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">{{ site.brand | upcase }}</a>
					<ul class="nav pull-right">
	{% for p in site.pages %}
							<li><a href="{{ p.url }}">{{ p.title | upcase }}</a></li>
	{% endfor %}
					</ul>
				</div>
			</div>
		</div>
{% endif %}