{% assign page-header = false %}
{% assign page-subtext = false %}

{% if page.header %}
	{% assign page-header = true %}
{% endif %}

{% if page.subtext %}
	{% assign page-subtext = true %}
{% endif %}

{% if page-header and page-subtext %}
	<div class="container">
		<div class="page-header">
			<h1>{{ page.header }} <small>{{ page.subtext }}</small></h1>
		</div>
	</div>
{% elseif page-header %}
	<div class="container">
		<div class="page-header">
			<h1>{{ page.header }}</h1>
		</div>
	</div>
{% elseif page-subtext %}
	<div class="container">
		<div class="page-header">
			<h1><small>{{ page.subtext }}</small></h1>
		</div>
	</div>
{% endif %}