<div class="span3 offset1">
	{% if site.sections.brief_bio.enabled %}
	{% include body/sections/brief-bio.html %}
	{% endif %}

	{% if site.sections.github_projects.enabled %}
	{% include body/sections/github-projects.html %}
	{% endif %}

	{% if site.sections.links.enabled %}
	{% include body/sections/links.html %}
	{% endif %}

	{% if site.sections.categories.enabled %}
	{% include body/sections/categories.html %}
	{% endif %}

	{% if site.sections.tags.enabled %}
	{% include body/sections/tags.html %}
	{% endif %}
</div>
