<body>
	{% include body/sections/navbar.html %}
	{% include body/site-alerts-and-notices.html %}
	<div class="container">
		<div class="row">
			<div class="span8">
				{% include body/page-header.html %}
				{% include body/page-alerts-and-notices.html %}
				<div name="tag_body">
				</div>
			</div>
			{% include body/row-right.html %}
		</div>
		{% include body/sections/footer.html %}
	</div>
	{% include body/sections/javascript.html %}
	{% include body/sections/javascript/tag.html %}
</body>