	{% capture sorted_dates %}
		{{ site.time | date: "%Y" }}
	{% endcapture %}

	{% assign number_of_dates = 1 %}



<div class="row ghpb">
	<div class="span8">
		&copy; Copyright 
{% assign prev_year = '' %}
{% for i in (1..number_of_dates) %}
	{% capture this_year %}{{ sorted_dates | truncatewords:i | remove:'...' | split:' ' | last | downcase }}{% endcapture %}
	{% if prev_year != this_year %}
		{% assign prev_year = this_year %}
		{{ this_year }}
	{% endif %}
{% endfor %}
	</div>
	<div class="span4 text-right">
		<small><a href="https://github.com/thedereck/gh-pages-blog">FORK GH-PAGES-BLOG ON GITHUB</a></small>
	</div>
</div>