{% capture earliest_year %}
	{{ site.time | date: "%Y" }}
{% endcapture %}

{% capture latest_year %}
	{{ site.time | date: "%Y" }}
{% endcapture %}

{% if site.posts.size > 0 %}
	{% for p in site.posts %}

		{% capture post_year %}
			{{ p.date | date: "%Y" }}
		{% endcapture %}

		{% if post_year < earliest_year %}
			earliest_year = post_year
		{% endif %}

		{% if post_year > latest_year %}
			latest_yest = post_year
		{% endif %}

	{% endfor %}
{% endif %}

<div class="row ghpb">
	<div class="span8">
		&copy; Copyright 
{% if earliest_year == latest_year %}
		{{ earliest_year }}
{% else %}
		{{ earliest_year }} - {{ latest_year }}
{% endif %}
	</div>
	<div class="span4 text-right">
		<small><a href="https://github.com/thedereck/gh-pages-blog">FORK GH-PAGES-BLOG ON GITHUB</a></small>
	</div>
</div>