<head>
	<title>{{ site.name }} - {{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/{{ site.bootstrap_css }}" rel="stylesheet" media="screen">
	<link href="css/ghblog.css" rel="stylesheet" media="screen">
	{% if site.bootstrap_responsive_css %}<link href="css/{{ site.bootstrap_responsive_css }}" rel="stylesheet">{% endif %}
	{% if site.font_awesome_css %}<link rel="stylesheet" href="css/{{ site.font_awesome_css }}">{% endif %}
</head>