<head>
	<title>{{ site.name }} - {{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/{{ site.bootstrap.css }}" rel="stylesheet" media="screen">
	<link href="/css/gh-pages-blog.css" rel="stylesheet" media="screen">

	{% if site.bootstrap.responsive.enabled %}
	<link href="/css/{{ site.bootstrap.responsive.css }}" rel="stylesheet">
	{% endif %}

	{% if site.font_awesome_css %}
	<link rel="stylesheet" href="/css/{{ site.font_awesome_css }}">
	{% endif %}

	{% if site.rss_enabled %}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ BASE_URL }}/rss.xml" />
	{% endif %}
</head>