<body>
	{% include body/sections/navbar.html %}
	{% include body/site-alerts-and-notices.html %}
	<div class="container">
		<div class="row">
			<div class="span8">
				<div class="ghpb-post">
					{% include body/post-header.html %}
					{% include body/post-alerts-and-notices.html %}
					{{ content }}
						
					{% if page.tags.size > 0 %}
						{% capture tag_names %}
							{% for t in page.tags %}
								{{ t | replace: ' ', '___' }}
							{% endfor %}
						{% endcapture %}

						{% capture sorted_tag_names %}
							{{ tag_names | split:' ' | sort | join:' ' }}
						{% endcapture %}

						{% capture number_of_tags %}
							{{ sorted_tag_names | number_of_words }}
						{% endcapture %}

					<br>
					<p>
						{% if site.font_awesome.enabled %}
						<i class="icon-tags"></i> 
						{% endif %}
						Tags:
						{% assign prev_tag = '' %}
						{% for i in (1..number_of_tags) %}
							{% capture tag %}{{ sorted_tag_names | truncatewords:i | remove:'...' | split:' ' | last | downcase }}{% endcapture %}
							{% if prev_tag != tag %}
								{% assign prev_tag = tag %}
						<a href="{{ site.url }}/tag.html?tag={{ tag }}"><span class="label label-inverse">{{ tag | replace: '___', ' ' }}</span></a> 
							{% endif %}
						{% endfor %}
					</p>
					{% endif %}

					<br>
					<br>
					<div id="disqus_thread"></div>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				</div>
			</div>
			{% include body/row-right.html %}
		</div>
		{% include body/sections/footer.html %}
	</div>
	{% include body/sections/javascript.html %}
	{% include body/sections/javascript/post/disqus.html %}
</body>