{% assign enable_disqus = false %}

{% if site.disqus.enabled and page.disqus == null %}
	{% assign enable_disqus = true %}
{% elsif site.disqus.enabled and page.disqus.enabled == null %}
	{% assign enable_disqus = true %}
{% elsif site.disqus.enabled and page.disqus.enabled %}
	{% assign enable_disqus = true %}
{% endif %}


{% assign page_tags_present = false %}

{% if page.tags.size > 0 %}
	{% assign page_tags_present = true %}

	{% capture page_tag_names %}
		{% for page_t in page.tags %}
			{{ page_t | replace: ' ', '___' }}
		{% endfor %}
	{% endcapture %}

	{% capture sorted_page_tag_names %}
		{{ page_tag_names | split:' ' | sort | join:' ' }}
	{% endcapture %}

	{% capture number_of_page_tags %}
		{{ sorted_page_tag_names | number_of_words }}
	{% endcapture %}
{% endif %}


<body>
	{% include body/sections/navbar.html %}
	{% include body/site-alerts-and-notices.html %}
	<div class="container">
		<div class="row">
			<div class="span8">
				<div class="ghpb-post">
					{% include body/post-header.html %}
					{% include body/post-alerts-and-notices.html %}
					{{ content }}
						
					{% if page_tags_present %}
					<br>
					<p>
						{% if site.font_awesome.enabled %}
						<i class="icon-tags"></i> 
						{% endif %}
						Tags:
						{% assign prev_page_tag = '' %}
						{% for page_i in (1..number_of_page_tags) %}
							{% capture page_tag %}{{ sorted_page_tag_names | truncatewords:i | remove:'...' | split:' ' | last | downcase }}{% endcapture %}
							{% if prev_page_tag != page_tag %}
								{% assign prev_page_tag = page_tag %}
						<a href="{{ site.url }}/tag.html?tag={{ page_tag }}"><span class="label label-inverse">{{ page_tag | replace: '___', ' ' }}</span></a> 
							{% endif %}
						{% endfor %}
					</p>
					{% endif %}

					{% if enable_disqus %}
					<br>
					<br>
					<div id="disqus_thread"></div>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    				{% endif %}
				</div>
			</div>
			{% include body/row-right.html %}
		</div>
		{% include body/sections/footer.html %}
	</div>
	{% include body/sections/javascript.html %}
	{% if enable_disqus %}
		{% include body/sections/javascript/post/disqus.html %}
	{% endif %}
</body>