{% if site.categories.size > 0 %}

{% capture category_names %}
	{% for c in site.categories %}
		{{ c[0] | replace: ' ', '___' }}
	{% endfor %}
{% endcapture %}

{% capture sorted_category_names %}
	{{ category_names | split:' ' | sort | join:' ' }}
{% endcapture %}

{% capture number_of_categories %}
	{{ sorted_category_names | number_of_words }}
{% endcapture %}

<ul class="nav pull-left">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Categories
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
{% assign prev_category = '' %}
{% for i in (1..number_of_categories) %}
	{% capture category %}{{ sorted_category_names | truncatewords:i | remove:'...' | split:' ' | last | capitalize }}{% endcapture %}
	{% if prev_category != category %}
		{% assign prev_category = category %}
			<li>
				<a href="{{ site.url }}/category.html?category={{ category }}">
					{{ category | replace: '_', ' ' | capitalize }}
				</a>
			</li>
	{% endif %}
{% endfor %}
		</ul>
	</li>
</ul>
{% endif %}