<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include body/navbar.html %}
		{% include body/site-alerts-and-notices.html %}
		<div class="container">
			<div class="row">
				<div class="span8">
					{% include body/page-header.html %}
					{% include body/page-alerts-and-notices.html %}
					{{ content }}
				</div>
				<div class="span3 offset1">
					{% includ body/fork-me.html %}
					{% include body/brief-bio.html %}
				</div>
			</div>
		</div>
		{% include body/javascript.html %}
	</body>
</html>