<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.name }} - {{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/{{ site.bootstrap_css }}" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">{{ site.brand }}</a>
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div>
		</div>
		{% if site.alert %}
		<div class="alert alert-block">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ site.alert }}
		</div>
		{% endif %}
		{% if site.information %}
		<div class="alert alert-block alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ site.information }}
		</div>
		{% endif %}
		{{ content }}
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>