<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include body/navbar.html %}
		{% include body/site-alerts-and-notices.html %}
		<div class="container">
			<div class="row">
				<div class="span8">
					{% include body/page-header.html %}
					{% include body/page-alerts-and-notices.html %}
					{{ content }}
				</div>
				<div class="span3 offset1">
					<div class="well-outline">
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
							<a class="addthis_button_preferred_1"></a>
							<a class="addthis_button_preferred_2"></a>
							<a class="addthis_button_preferred_3"></a>
							<a class="addthis_button_preferred_4"></a>
							<a class="addthis_button_compact"></a>
							<a class="addthis_counter addthis_bubble_style"></a>
						</div>
						<!-- AddThis Button END -->
					</div>
					{% include body/brief-bio.html %}
				</div>
			</div>
		</div>
		{% include body/javascript.html %}
	</body>
</html>