{% assign enabled_social_link = false %}

{% for l in site.social_links.links %}
	{% if l.enabled %}
		{% assign enabled_social_link = true %}
	{% endif %}
{% endfor %}

{% if enabled_social_link %}
<br>
	{% if site.social_links.follow_name %}
<p class="text-center"><small><strong>FOLLOW {{ site.social_links.follow_name | upcase }}</strong></small></p>
	{% else %}
<p class="text-center"><small><strong>FOLLOW ME</strong></small></p>
	{% endif %}

<ul class="inline text-center">
	{% for link in site.social_links.links %}
		{% if link.enabled %}
	<li>
		<a class="btn" href="{{ link.url }}">
			{% if site.font_awesome.enabled %}
				{% if link.font_awesome_icon %}
			<i class="{{ link.font_awesome_icon }}"></i>
				{% endif %}
			{% else %}
			{{ link.name }}
			{% endif %}
		</a>
	</li>
		{% endif %}
	{% endfor %}
</ul>
{% endif %}